<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350902759365-t9bkir55h3s1bah6p8jb7tliv0egca4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350902759365-t9bkir55h3s1bah6p8jb7tliv0egca4o</string>
	<key>API_KEY</key>
	<string>AIzaSyCIs2LS_3wEdX1hERJO7nk-ynYWIA8gp3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>350902759365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>altosentido.aunap.guia</string>
	<key>PROJECT_ID</key>
	<string>altosentido-aunap</string>
	<key>STORAGE_BUCKET</key>
	<string>altosentido-aunap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350902759365:ios:fc9d4948bdae5b4752e5ac</string>
</dict>
</plist>